<<<<<<< HEAD:blocks/feynman/__image/feynman__image.css
.feynman__image {
  width: 867px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
=======
.feynman__image {
  width: 867px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
>>>>>>> 8c1664e74b87dba4c612866f2beef1f56459a9ef:blocks/feynman/__image/feymann__image.css
