.feymann__link {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  margin: auto;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #2f80ed;
  z-index: 2;
  opacity: 100%;
  transition: linear 0.2s;
}

.feymann__link:hover {
  opacity: 70%;
}
