<<<<<<< HEAD:blocks/feynman/__subtitle/feynman__subtitle.css
.feynman__subtitle {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  margin: 70px auto 0;
  text-align: center;
  z-index: 3;
}
=======
.feynman__subtitle {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  margin: 70px auto 0;
  text-align: center;
  z-index: 3;
}
>>>>>>> 8c1664e74b87dba4c612866f2beef1f56459a9ef:blocks/feynman/__subtitle/feyman__subtitle.css
