@keyframes rotation {
  0% { transform:rotate(0deg);
  }
  100% { transform:rotate(360deg);
  }
}

.rotation {
  animation: rotation linear 20s infinite;
}
<<<<<<< HEAD

=======
>>>>>>> 8c1664e74b87dba4c612866f2beef1f56459a9ef
