.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(https://raw.githubusercontent.com/Nanimnet/how-to-learn/9cfd0baef725913a9a638b67a116d0cf2c9f44f5/images/kaufman-triangle.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: -120px;
  z-index: 0;
  transform: rotate(360deg);
}
