.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 856px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  font-size: 20px;
  flex-direction: column;
  /* выше установили ограничения для секции */
}

.logo {
  width: 203px;
}

.logo_place_header {
  position: relative;
  left: 64px;
  top: 30px;
}

.header__title {
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 700;
  display: flex;
  z-index: 4;
  margin: auto auto auto 64px;
}

.header__subtitle {
  line-height: 25px;
  font-size: 18px;
  max-width: 19.4em;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
  margin: 0;
}

.header__link {
  font-size: 18px;
  line-height: 25px;
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  width: 765px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 1;
}

.description {
  margin-top: 100px;
}

.two-columns {
  display: flex;
  margin: 0 auto;
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__brief {
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}

.two-columns__paragraph {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 0;
}

.two-columns__paragraph:first-of-type {
  margin: 0;
}

.two-columns__span-accent {
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
}

.digits {
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-title {
  width: 60%;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
  text-align: center;
  margin: auto;
}

.section-subtitle {
  width: 60%;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

.table {
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: 600;
  margin: 0;
}

.table__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
}

.feynman {
  height: 890px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  font-size: 20px;
  flex-direction: column;
}

.feynman__title {
  max-width: 648px;
  font-size: 120px;
  line-height: 1.15;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-top: 100px;
  z-index: 4;
}

.feyman__subtitle {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  margin: 70px auto 0;
  text-align: center;
  z-index: 3;
}

.feymann__link {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  margin: auto;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #2f80ed;
  z-index: 2;
}

.feymann__image {
  width: 867px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.kaufman {
  background-color: #1f1f1f;
  padding-top: 90px;
  position: relative;
  overflow: hidden;
  padding-bottom: 90px;
}

.section-title_theme_dark {
  width: 60%;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 700;
  text-align: center;
  margin: auto;
  color: white;
  position: relative;
  z-index: 2;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 2;
  margin-top: 20px;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: -120px;
  z-index: 0;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 2;
}

.table__heading_theme_dark {
  font-size: 24px;
  line-height: 1.15;
  font-weight: 700;
  margin: 0;
}

.table__text_theme_dark {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
}

.footer__colums {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  width: 183px;
  display: flex;
}

.footer__author {
  color: white;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  padding: 18px 0;
  margin: 0;
}

.footer__columns_info {
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.footer__column-heading {
  color: white;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  margin: 0;
}

.footer__column-links {
  margin-top: 20px;
  padding-left: 0;
}

.footer__list-item {
  color: white;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  list-style: none;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}

.footer__column-link {
  color: white;
  text-decoration: none;
}
